@use 'variables' as v;

// Reset styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: v.$font-family-base;
  line-height: v.$line-height-base;
  font-weight: v.$font-weight-base;

  color-scheme: light dark;
  color: v.$text-light;
  background-color: v.$bg-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: v.$font-size-base;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: v.$font-weight-link;
  color: v.$link-color;
  text-decoration: inherit;
  
  &:hover {
    color: v.$link-hover;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: v.$font-weight-link;
  font-family: inherit;
  background-color: v.$button-bg-dark;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: v.$link-color;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: v.$text-dark;
    background-color: v.$bg-light;
  }
  
  a:hover {
    color: v.$link-hover-light;
  }
  
  button {
    background-color: v.$button-bg-light;
  }
}
